@model Core.Models.UserModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Добавление пользователя</h2>
<form asp-action="Create" asp-controller="UserView">
    <p>
        <label asp-for="Login">Логин</label><br />
        <input type="text" asp-for="Login" />
    </p>
    <p>
        <label asp-for="Password">Пароль</label><br />
        <input type="text" asp-for="Password" />
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>