@model Core.User
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h2>Редактирование пользователя</h2>
<form asp-action="Edit" asp-controller="UserView" asp-route-id="@Model.Id">
    <p>
        <label asp-for="Id">Возраст</label><br/>
        <input type="number" asp-for="Id" readonly />
    </p>
    <p>
        <label asp-for="Login">Login</label><br/>
        <input type="text" asp-for="Login" />
    </p>
    <p>
        <label asp-for="Password">Пароль</label><br/>
        <input type="text" asp-for="Password"/>
    </p>
    <p>
        <label asp-for="isAdmin">Админ?</label><br/>
        <input type="checkbox" asp-for="isAdmin"/>
    </p>
    
    <p>
        <input type="submit" value="Сохранить"/>
    </p>
</form>