@model dynamic
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <title>Home</title>
</head>
<body>
<div>
    Open Film Database Library
</div>
<p><a asp-controller="UserView" asp-action="Index" >Пользователи</a></p>
</body>
</html>